.footerBody{
    padding: 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid white;
    background-color: rgb(24, 24, 24);
}

.footerStart{
    display: flex;
    align-items: center;
    gap:10px;
}

.footerStart > .MuiSvgIcon-root{
    font-size: 20px;
}
.footerEnd{
    display: flex;
    align-items: center;
    padding-right: 10px;
}

.footerEnd > div{
    margin: 15px;
}

.flinks{
    cursor: pointer;
    position: relative;
}

.flinks::after {
    content: '';
    position: absolute;
    height: 2px;
    left: 2px;
    bottom: -2px;
    width: 0;
    background-color: white;
    transition: width 0.6s;
}

.flinks:hover:after{
    width: 95%;
    cursor: pointer;
}


@media (max-width:768px) {
    .footerBody{
        padding: 5px;
    }
    
    .footerStart{
        gap:3px;
        font-size: 10px;
    }
    
    .footerStart > .MuiSvgIcon-root{
        font-size: 10px;
    }
    .footerEnd{
        display: flex;
        align-items: center;
        padding-right: 10px;
    }
    
    .footerEnd > div{
        margin: 2px;
        font-size: 10px;
    }
    
    .footerEnd > .flinks:hover{
        opacity: 0.8;
        cursor: pointer;
        text-decoration: underline;
    }
}