.point{
  color: white;
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-left: 10px;
  gap:5px;
}

.point > .MuiSvgIcon-root{
  font-size: 20px;

}

.headerBody{
    display: flex;
    padding-left: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
    border-bottom: 1px solid white;
}
.patterns {
    height: 400px;
    width: 70vw;
    
}
  
svg text {
  align-items:start;
    font-family: Lora;
    letter-spacing: 10px;
    stroke: #fbfafb;
    font-size: 60px;
    font-weight: 700;
    stroke-width: 1.5;
    animation: textAnimate 5s infinite alternate;
}

@keyframes textAnimate {
    0% {
      stroke-dasharray: 0 50%;
      stroke-dashoffset:  20%;
      fill:hsl(189, 68%, 75%)
  
    }
    
    100% {
      stroke-dasharray: 50% 0;
      stroke-dashoffstet: -20%;
      fill: hsla(189, 68%, 75%,0%)
    }
    
}

.headerBody > img{
    width: 450px;
    height: 450px;
    padding-right: 20px;
}

.profileImage{
  opacity: 0; /* Initially hidden */
  animation: slideDown 2s ease forwards;
  
}

/* Keyframes for the animation */
@keyframes slideDown {
  from {
      transform: translateY(-100%);
      opacity: 0;
  }
  to {
      transform: translateY(0);
      opacity: 1;
  }
}