#home{
  padding-bottom: 0px;
}
.point{
  color: white;
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom:10px ;
  gap:5px;
  font-size: 20px;
}

.point > .MuiSvgIcon-root{
  font-size: 20px;

}

.headerBody{
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
    border-bottom: 1px solid white;
}

.patterns {
  height: 400px;
  width: 70vw;  
}

svg text {
  align-items:start;
  font-family: Lora;
  letter-spacing: 10px;
  stroke: #fbfafb;
  font-size: 60px;
  font-weight: 700;
  stroke-width: 1.5;
  animation: textAnimate 3.5s infinite alternate;
}


@keyframes textAnimate {
    0% {
      stroke-dasharray: 0 50%;
      stroke-dashoffset:  20%;
      fill:hsl(189, 68%, 75%)
  
    }
    
    100% {
      stroke-dasharray: 50% 0;
      stroke-dashoffstet: -20%;
      fill: hsla(189, 68%, 75%,0%)
    }
    
}

.profileImage{
  width: 400px;
  height: 400px;
  padding-right: 20px;
  opacity: 0; /* Initially hidden */
  animation: slideDown 2s ease forwards;
  
}

/* Keyframes for the animation */
@keyframes slideDown {
  from {
      transform: translateY(-100%);
      opacity: 0;
  }
  to {
      transform: translateY(0);
      opacity: 1;
  }
}

@media (max-width:768px) {
  
  .headerBody{
    display: block;
    padding: 0;
    padding-bottom: 50px;
    position: relative;
  }

  .patterns{
    position:absolute;
    top:60%;
    left:50%;
    transform: translate(-50%,-50%);
    z-index: 1000;
    width: 95%;
    height: 20%;
    padding-left: 12px;
  }

  svg text{
    align-items:center;
    font-family: Lora;
    letter-spacing: 1px;
    stroke: white;
    font-size: 30px;
    font-weight: 10;
    stroke-width: 1.5;
    animation: textAnimate 5s infinite alternate;
  }

  .profileImage{
    width: 100%;
    height: 100%;
  }

  @keyframes textAnimate {
    0% {
      stroke-dasharray: 0 50%;
      stroke-dashoffset:  20%;
      fill:hsl(26, 95%, 50%)
  
    }
    
    100% {
      stroke-dasharray: 50% 0;
      stroke-dashoffstet: -20%;
      fill: hsla(189, 68%, 75%,0%)
    }   
}
}

@media (min-width:1600px) {
  .profileImage{
    width: 500px;
    height: 500px;
  }
}