div{
    color:white;
}

.headerBody{
    display: flex;
    margin: 20px;
}
.patterns {
    height: 100px;
    width: 70vw;
  }
  
svg text {
    font-family: Lora;
    letter-spacing: 10px;
    stroke: #fbfafb;
    font-size: 70px;
    font-weight: 700;
    stroke-width: 1.5;
    animation: textAnimate 5s infinite alternate;
}

@keyframes textAnimate {
    0% {
      stroke-dasharray: 0 50%;
      stroke-dashoffset:  20%;
      fill:hsl(189, 68%, 75%)
  
    }
    
    100% {
      stroke-dasharray: 50% 0;
      stroke-dashoffstet: -20%;
      fill: hsla(189, 68%, 75%,0%)
    }
    
  }


.headerBody > img{
    width: 350px;
    height: 350px;
    border-radius: 20px;
    box-shadow: rgba(247, 244, 244, 0.56) 0px 22px 70px 4px;
}