#home{
  padding-bottom: 0px;
  border-bottom: 1px solid white;
}
.point{
  color: white;
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom:10px ;
  gap:5px;
  font-size: 20px;
}

.point > .MuiSvgIcon-root{
  font-size: 20px;

}

.headerBody{
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    
    padding-right: 30px;
}

.patterns {
  height: 400px;
  width: 70vw;  
}

svg text {
  align-items:start;
  font-family: Lora;
  letter-spacing: 10px;
  stroke: #fbfafb;
  font-size: 60px;
  font-weight: 700;
  stroke-width: 1.5;
  animation: textAnimate 3.5s infinite alternate;
}


@keyframes textAnimate {
    0% {
      stroke-dasharray: 0 50%;
      stroke-dashoffset:  20%;
      fill:hsl(189, 68%, 75%)
  
    }
    
    100% {
      stroke-dasharray: 50% 0;
      stroke-dashoffstet: -20%;
      fill: hsla(189, 68%, 75%,0%)
    }
    
}

.profileImage{
  width: 400px;
  height: 400px;
  padding-right: 20px;
  opacity: 0; /* Initially hidden */
  animation: slideDown 2s ease forwards;
  border-radius: 50%;
}

.aboutMe{
  color: white;
  height: 290px;
  display: flex;
  flex-direction: column;
  margin-left: 15%;
  
}

.aboutMe > div{
  margin: 5px;
}
.headLine{
  display: flex;
  align-items: center;
  font-size: 25px;
}
.expandBtn{
  border: 0;
  background-color: transparent;
  color: white;
  cursor: pointer;
  outline: none;
  text-decoration: none;
}
.expandBtn > .MuiSvgIcon-root{
  font-size: 30px;
}

.animate{
  animation: rotate 1s linear;
}

.animate1{
  animation: rotate1 1s linear;
}

@keyframes rotate {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}

@keyframes rotate1 {
  from{
    transform: rotate(360deg);
  }
  to{
    transform: rotate(0deg);
  }
}

.col {
  margin: 1px;
  padding-left: 10px;
  opacity: 0;
  height: 0;
  width: 90%;
  
  overflow: hidden;
  transition: all 1s ease-in-out;
}

.col.show {
  opacity: 1;
  height: 60px;
  transition: all 1s ease-in-out;
}

/* Keyframes for the animation */
@keyframes slideDown {
  from {
      transform: translateY(-100%);
      opacity: 0;
  }
  to {
      transform: translateY(0);
      opacity: 1;
  }
}

@media (max-width:768px) {
  
  .headerBody{
    display: block;
    padding: 0;
    padding-bottom: 50px;
    position: relative;
  }

  .patterns{
    position:absolute;
    top:60%;
    left:50%;
    transform: translate(-50%,-50%);
    z-index: 1000;
    width: 95%;
    height: 20%;
    padding-left: 12px;
  }

  svg text{
    align-items:center;
    font-family: Lora;
    letter-spacing: 1px;
    stroke: green;
    font-size: 30px;
    font-weight: 10;
    stroke-width: 1.5;
    animation: textAnimate 5s infinite alternate;
  }

  .profileImage{
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
  .col{
    font-size: 12px;
  }
  .col.show {
    
    opacity: 1;
    height: 100px;
    transition: all 1s ease-in-out;
  }
  @keyframes textAnimate {
    0% {
      stroke-dasharray: 0 50%;
      stroke-dashoffset:  20%;
      fill:hsl(26, 95%, 50%)
  
    }
    
    100% {
      stroke-dasharray: 50% 0;
      stroke-dashoffstet: -20%;
      fill: hsla(189, 68%, 75%,0%)
    }   
}
}


@media (min-width:1600px) {
  .profileImage{
    width: 500px;
    height: 500px;
  }
}

@media (max-width:375px){
  .patterns{
    position:absolute;
    top:60%;
    left:50%;
    transform: translate(-50%,-50%);
    z-index: 1000;
    width: 90%;
    height: 20%;
    padding-left: 12px;
  }

  svg text{
    align-items:center;
    font-family: Lora;
    letter-spacing: 1px;
    stroke: white;
    font-size: 27px;
    font-weight: 10;
    stroke-width: 1.5;
    animation: textAnimate 5s infinite alternate;
  }
}