/* .navbar{
    background-color: rgba(41, 41, 41, 0.201);
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    border-bottom: 1px solid white;
    color: white;
    position: -webkit-sticky; 
    position: sticky;
    top: 0; 
    z-index: 1000;
}

.navbar > div{
    padding-left: 20px;
}

.links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
}
.links > a{
    margin: 10px;
    opacity: 0.8;
    outline: none;
    text-decoration: none;
    color: white;
}

.links > .navElement:hover{
    cursor: pointer;
    opacity: 1;
    color: rgb(0, 224, 245);
    padding: 20px;
}
.links > button{
    display: none;
}

.hire{
    background-color: blueviolet;
    padding: 20px;
}
.hire:hover{
    color: white;
    cursor: pointer;
    opacity: 1;
}
@media screen and (max-width:768px) {
    .navbar{
        position: relative;
        align-items: baseline;
        padding-top: px;
    }

    .links{
        flex-direction: column;
        position: relative;
        top:7px;
    }

    .navElement{
        top:100px;
    }

    .links > .navElement:hover{
        cursor: pointer;
        color: white;
        opacity: 1;
    }

    .links > button{
        display: block;
        position:relative;
        margin-top: 5px;
        top:0%;
        right: 0%;
        border: 0;
        color:white;
        background-color: transparent;
        outline: none;
        transition: transform 1s ease;
    }

    .animate{
        transform: rotate(360deg);
    }

    .expanded{
        height: auto;
        z-index: 1;
    }
    

} */

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    border-bottom: 1px solid white;
    position: sticky;
    top:0;
    z-index: 1;
    background-color: black;
    overflow-x: hidden;
    width: 100%;
}

.title{
    font-size: 1.5rem;
    margin: 1rem;
    font-weight: bold;
}
.navbar ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar ul li{
    list-style: none;
}

.navbar ul li a{
    display: block;
    text-decoration: none;
    padding: 0.5rem;
    margin: 0 0.5rem;
    border-radius: 0.5rem;
    color: white;
    position: relative;
    font-size: 20px;
}


.navbar > .menu{
    display: none;
    position: absolute;
    top:0.75rem;
    right: 0.5rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2.25rem;
    height: 2rem;
}

.hireMe{
    background-color: blueviolet;
    margin: 10px;
}

ul > li > a::after {
    content: '';
    position: absolute;
    height: 2px;
    left: 8px;
    bottom: 5px;
    width: 0;
    background-color: white;
    transition: width 0.6s;
}

ul > li > a:hover:after{
    width: 85%;
}


@media(max-width:768px){

    .navbar > .menu{
        display: flex;
        top:20px
    }
    
    .navbar{
        flex-direction: column;
        align-items: start;
    }

    .navbar > ul{
        display: none;
        flex-direction: column;
        margin-top: -100px;
        width: 90%;
        height: 110vh;
        margin-bottom: 0.25rem;
    }

    ul > li{
        width: 90%;
        text-align: center;
    }

    .navbar > ul > li > a{
        margin: 0.2rem 0.5rem;
    }

    .navbar ul.open{
        display: flex;
    }
}

