.navbar{
    background-color: rgba(41, 41, 41, 0.501);
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    border-bottom: 1px solid white;
    color: white;
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 0; /* Stick to the top */
    z-index: 1000;
}

.navbar > div{
    padding-left: 20px;
}

.links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
}
.links > div{
    margin: 10px;
    opacity: 1;
}

.links > div:hover{
    cursor: pointer;
    opacity: 0.8;
    background-color: white;
    color:black;
    padding: 20px;
}

